body{
  background-color: #e4f9f5;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

h1{
  color: #11999e;
  font-size: 300%;
  width: 50%;
  margin: 5px auto 10px auto;
}

.main_title{
  padding: 15px;
  margin: 0 auto 30px auto;
  background-color: black;
  color: #eee;
  font-weight: normal;
}

.read-more{
  display: block;
  color: black;
  width: 100px;
  text-align: center;
  margin: 20px auto auto auto;
}

.profile{
  text-align: center;
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 20%;
  filter: grayscale(100%);
  border-image: url(profile.png) 50 round;
}

.profile:hover{
  width: 22%;
  height: auto;
  transition: all 0.5s ease-out;


}
.read-more:hover{
  font-size: 16.5px;
  color: #11999e;
  transition: all 0.3s ease-in;
}

.bio{
  width: 50%;
  margin: 15px auto auto auto;
  font-family: sans-serif;
  font-size: 130%;
}

footer{
  margin: 1600px auto auto auto;
  padding: 10px;
  background-color: black;
  color: #eee;
}

.card-1{
  border-width: thin;
  border-color: black;
  margin-top: 5%;
  text-align: center;
  width: 33.3%;
  height: auto;
}

.card-2{
  margin-top: 5%;
  text-align: center;
  width: 33.3%;
  height: auto;
}
.card-3{
  margin-top: 5%;
  text-align: center;
  width: 33.3%;
  height: auto;
}

.card-3-img{
  margin-bottom: 5%;
}
 .card-p{
   padding: 10%;
 }
