body{
  background-color: #e4f9f5;
  text-align: center;
  margin: 0px;
  font-family: 'Roboto', sans-serif;

}

h1{
  color: #11999e;
  font-size: 300%;
  width: 50%;
  margin: 5px auto 10px auto;
}

.main_title{
  padding: 15px;
  margin: 0px auto 30px auto;
  background-color: black;
  color: #eee;
  font-weight: normal;
}

.read-more{
  display: block;
  color: black;
  width: 100px;
  text-align: center;
  margin: 20px auto auto auto;
}

.profile{
  height: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 20%;
  filter: grayscale(100%);
  border-image: url(profile.png) 50 round;
}

.profile:hover{
  filter: blur(10px) grayscale(90%);


}
.read-more:hover{
  font-size: 17px;
  color: #11999e;
}

.bio{
  width: 50%;
  margin: 15px auto auto auto;
  font-family: sans-serif;
  font-size: 130%;
}

footer{
  margin: 1600px auto auto auto;
  padding: 10px;
  background-color: black;
  color: #eee;
}
